html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.sign-btn {
    width: 20rem;
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
        color: #2d1c0b;
        margin-top: 4.5rem;
        font-family: 'Reward';
        font-size: 2.5rem;
        text-shadow: 1px 2px 2px rgba(140, 140, 140, 0.73);
    }
}
.background {
    background-color: #9760ff;
}

// .frame {
//     background-image: url('./assets/images/frame.png');
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//     position: relative;
//     .frame-inner {
//         position: relative;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }
//     }
// }

.img-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.signin-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    p {
        font-weight: 700;
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
        color: white;
        text-shadow: 1px 2px 3px black;
    }
    span {
        display: inline-flex;
        align-items: center;
        background-color: white;
        padding: 0 0.375em;
        color: lightsalmon;
    }
}

.wallet-chip {
    cursor: pointer;
    background-color: #fa78b0;
    color: white;
    border-radius: 0.8rem;
    margin-left: 0.375rem;
    padding: 0.25rem 0.75rem;
    box-shadow: 1px 2px 5px 1px #694f71;
    p {
        margin: 0;
    }
}
